*{
    margin: 0;
    padding: 0;

}

/* Header and menu */
.menu, header {
    margin: 0 auto;
    background-color:#835c46;
    text-align:center;
    padding: 0 300px 0 300px;
}

h1{
    color:white;
    padding: 15px 10px 10px 10px;
    font-size: 50px;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    border-bottom: 1px solid white;
}

h6{
    color:white;
    padding: 15px 0px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    color:rgb(144, 221, 204);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: inline-block;
    padding: 10px 20px;
}

a:hover {color: #688770;}

/* footer */
footer{
    background-color:#835c46;
    color:white;
    clear:both;
    text-align:center;
    padding: 10px;
}

/* Content */
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1050px;
}

section {
    margin: 30px;
    padding: 10px;
  }

  section ul {
    padding: 20px;
    background-color:#eeeeee;
    margin: 10px 250px 10px 10px;
  }

.left {
    float: left;
    padding: 20px;
  }
.right {
    float: right;
    padding: 20px;
  }

  h3{
    font-size: x-large;
    background-color: #9b7c5f;
	opacity: 0.7;
	box-shadow: 5px 5px 10px 0 #cccccc;
    border-radius: 5px;
    color: white;
	letter-spacing: 1px;
	font-weight: normal;
	padding: 10px;
}
 h4{
     font-size: large;
 }


img { padding-top: 10px; }

p{
    margin: 30px 10px;
}
